In [13]:
import pandas as pd
import pickle

In [14]:
city = 'Atlanta'

In [31]:
df = pd.read_csv(city+'_reviews.csv')

/tmp/ipykernel_233749/2423866168.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(city+'_reviews.csv')

In [32]:
def get_sup(df, nb=100):
    df_count = df.groupby('business_id').count()
    df_plus = df_count[df_count.review_id >= nb]
    return df[df.business_id.isin(df_plus.index)]

df = get_sup(df,2)
df.stars = df.stars.astype(float).fillna(0.0) 
df = df.loc[df['stars'] > 4]
df['review_date'] = pd.to_datetime(df['review_date'])  
df = df.loc[(df['review_date'] > '2008-01-01') & (df['review_date'] <= '2020-01-01')]
# df = get_sup(df)

In [33]:
df

,business_id,review_id,user id,stars,review_date,text,name,categories,address,postal code,price,text_length
2,ZW7aI5FO_3q_vSzI4_zx-Q,3c4LFWiVUHPDQzAd8uxc3A,jySmPCkEkJR3cWJlkEs9cw,5.0,2013-08-15 14:47:40,Definitely 5 stars for the donuts. Our family...,Sub-Base Sandwich Shoppe/Dandy Donuts,"Food, Breakfast & Brunch, Sandwiches, Restaura...",3677 Chamblee Dunwoody Rd,30341.0,1.0,544.0
6,AvXqLbcGCxdIEF_qZTY0Kw,7_Guwplx7k3vn-gtqLNFdg,XBS1K_IzAya1uGpJwTk4GQ,5.0,2011-06-29 01:26:18,Overall Recommendation: If you like fried chi...,The Busy Bee Cafe,"Restaurants, Southern, Soul Food",810 Martin Luther King Jr Dr SW,30314.0,2.0,1172.0
18,3ZVgig7uux9jVtEZna5NgA,wWXpPaXb44xwUY-OZuh6sw,f6TVUznYvZS3P5HrR6846g,5.0,2012-07-16 01:25:37,I took my husband here last night for his birt...,Kyma,"Vegan, Restaurants, Seafood, Mediterranean, Greek",3085 Piedmont Rd NE,30305.0,3.0,956.0
33,KKB3Z3bLDTNY2hBFzuRNEg,Zz8LoI3Ynz2FE9k50wpr1w,agRRa3fOSRAi1WmV4zUNvQ,5.0,2014-12-17 21:56:01,I ate there on a Wednesday for lunch. I had th...,STEEL Restaurant & Lounge,"Thai, Sushi Bars, Asian Fusion, Restaurants","950 W Peachtree St, Ste 255",30309.0,2.0,276.0
34,C9sLyd2_w1H0Q5bF8obviQ,IYfEFFKIQVjusEmF-p2kUw,KC74lZk0txHJRLSQsdRyQA,5.0,2015-09-24 00:30:21,This is my fav pizza place. I always eat here ...,Thirteen Pies,"Pizza, Italian, Restaurants","250 Buckhead Ave, Ste 317",30305.0,2.0,208.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1533192,x9QC84z2Zn6zIAvxt81cTA,SEiz9GMJo7_4wEeR8iyqKg,Upll9V3HTPH7kwSAdhxfNA,5.0,2017-05-18 00:48:55,Went to a fundraiser for Two Tailz Dog Rescue ...,Carrabba's Italian Grill,"Restaurants, Italian, Seafood",1210 Ashford Crossing,30346.0,2.0,341.0
1533203,4htHyo30Fb6yzrtMHd1U_g,Vp3X9RMJ5WVdzwnzk2Pp4Q,MRwY750kcyxN-p-rL1DvAA,5.0,2018-05-15 18:27:21,"I've been to Houston's dozens of times, but ne...",Houston's Restaurant,"Steakhouses, American (New), Sushi Bars, Resta...",3539 Northside Pkwy NW,30327.0,2.0,831.0
1533221,iVgFMn1z6lZUU1jyVTiLSQ,5P5ta1JPRc3C0lSTBNEYWg,4uK9EfcrYCDTTNY2LkEuyg,5.0,2017-01-18 17:42:10,The bakery is located inside the Sweet Auburn ...,Panbury's Double Crust Pies,"Food, Australian, South African, African, Brit...","209 Edgewood Ave SE, Ste 104, Municipal Market",30303.0,1.0,846.0
1533237,u6d48KNDdsjJlCbXyMmbvw,Envps8fOe4hKi-XLMnAitQ,IMVZIi7x3d3NIQH1T5MN-Q,5.0,2018-05-14 01:13:42,3/29/18 (my 33rd birthday) was when I came her...,Taco Mac,"Mexican, Tacos, American (New), Beer, Wine & S...",100 Techwood Dr,30303.0,2.0,211.0
1533250,r2qrC013gA3soTbtYJyyvg,5F5DnxBLDm1_eWBQiKmGQg,g95sexGx4huO-AeH7dQuIg,5.0,2019-07-23 21:20:18,Mi Barrio is the absolute jam. Their tortas ar...,Mi Barrio,"Mexican, Restaurants",571 Memorial Dr SE,30312.0,1.0,225.0

In [34]:
df_count = df.groupby('business_id').count()
df_count

,review_id,user id,stars,review_date,text,name,categories,address,postal code,price,text_length
business_id,,,,,,,,,,,
-0JXXCMUpe29dQ-f6pG9OA,15,15,15,15,15,15,15,15,15,15,15
-0OWS89ebRdvzOQkjptyEw,13,13,13,13,13,13,13,13,13,13,13
-4P7VlKa9n-TwOP2_nWCtw,34,34,34,34,34,34,34,34,34,34,34
-5VyAi8GR34xmDAgFZTitg,100,100,100,100,100,100,100,100,100,100,100
-6VuqBXDDJXv8CRm_CM2qg,14,14,14,14,14,14,14,14,14,14,14
...,...,...,...,...,...,...,...,...,...,...,...
zy75CWA_oJYEhtXz8OOQsg,33,33,33,33,33,33,33,33,33,33,33
zyYNLYUVabUXkwq___Q3ug,1,1,1,1,1,1,1,1,1,1,1
zylYdVSB_KCGsB-Vunncsw,4,4,4,4,4,4,4,4,4,4,4
zzin1d1oHi81GuI0ufo1VA,207,207,207,207,207,207,207,207,207,207,207
zzlkjDG9Rv8Jn-vSolMgyw,36,36,36,36,36,36,36,36,36,36,36

In [11]:
df = pd.read_csv('Columbus_reviews.csv')
df = get_sup(df,2)
df = df.loc[(df['review_date'] > '2008-01-01') & (df['review_date'] <= '2020-01-01')]

with open("Columbus_trainValidTest/labels.pickle", "rb") as f:
    x = pickle.load(f)

df_count = df.groupby('business_id').count()
df_select = df_count[df_count.index.isin(x)]
df_select

,review_id,user id,stars,review_date,text,name,categories,address,postal code,price,text_length
business_id,,,,,,,,,,,
-3yBy72KmANyrkAeeDnwQw,72,72,72,72,72,72,72,72,72,72,72
-9Xrvq_h_wuY7NLUCmMeRQ,132,132,132,132,132,132,132,132,132,132,132
-B0E1b3TjA3zV6leb74pbg,149,149,149,149,149,149,149,149,149,149,149
-GhevkEAE4h4ciFItof7Wg,53,53,53,53,53,53,53,53,53,53,53
-Th7Avg3VRJliWTXtzbffQ,266,266,266,266,266,266,266,266,266,266,266
...,...,...,...,...,...,...,...,...,...,...,...
zejcxgXeGc0txcSn122sHA,109,109,109,109,109,109,109,109,109,109,109
zh2HbHDjagzoun0aPU5oZA,51,51,51,51,51,51,51,51,51,51,51
zkJtBNFGZmzWafbGSnQ3zw,275,275,275,275,275,275,275,275,275,275,275
zoTFMr5y5JYLnyl2IuZXrw,87,87,87,87,87,87,87,87,87,87,87
zwKIQgthba1FUPWS7nOo0w,120,120,120,120,120,120,120,120,120,120,120

In [12]:
df_select.min()

review_id      10
user id        10
stars          10
review_date    10
text           10
name           10
categories     10
address        10
postal code    10
price          10
text_length    10
dtype: int64